@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 300;
  src: local('Inter ExtraLight'),
    local('Inter-ExtraLight'),
    url("fonts/Inter-ExtraLight.woff2") format("woff2"), /* Super modern browsers */
    url('fonts/Inter-ExtraLight.woff') format('woff'), /* Pretty modern browsers */
    url('fonts/Inter-ExtraLight.otf') format('opentype'); /* non-IE */
}

@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 300;
  src: local('Inter ExtraLight Italic'),
    local('Inter-ExtraLightItalic'),
    url("fonts/Inter-ExtraLightItalic.woff2") format("woff2"), /* Super modern browsers */
    url('fonts/Inter-ExtraLightItalic.woff') format('woff'), /* Pretty modern browsers */
    url('fonts/Inter-ExtraLightItalic.otf') format('opentype'); /* non-IE */
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  src: local('Inter'),
    local('Inter-Regular'),
    url("fonts/Inter-Regular.woff2") format("woff2"), /* Super modern browsers */
    url('fonts/Inter-Regular.woff') format('woff'), /* Pretty modern browsers */
    url('fonts/Inter-Regular.otf') format('opentype'); /* non-IE */
}

@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 400;
  src: local('Inter Italic'),
    local('Inter-Italic'),
    url("fonts/Inter-Italic.woff2") format("woff2"), /* Super modern browsers */
    url('fonts/Inter-Italic.woff') format('woff'), /* Pretty modern browsers */
    url('fonts/Inter-Italic.otf') format('opentype'); /* non-IE */
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 500;
  src: local('Inter Medium'),
    local('Inter-Medium'),
    url("fonts/Inter-Medium.woff2") format("woff2"), /* Super modern browsers */
    url('fonts/Inter-Medium.woff') format('woff'), /* Pretty modern browsers */
    url('fonts/Inter-Medium.otf') format('opentype'); /* non-IE */
}

@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 500;
  src: local('Inter Medium Italic'),
    local('Inter-MediumItalic'),
    url("fonts/Inter-MediumItalic.woff2") format("woff2"), /* Super modern browsers */
    url('fonts/Inter-MediumItalic.woff') format('woff'), /* Pretty modern browsers */
    url('fonts/Inter-MediumItalic.otf') format('opentype'); /* non-IE */
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 600;
  src: local('Inter SemiBold'),
    local('Inter-SemiBold'),
    url("fonts/Inter-SemiBold.woff2") format("woff2"), /* Super modern browsers */
    url('fonts/Inter-SemiBold.woff') format('woff'), /* Pretty modern browsers */
    url('fonts/Inter-SemiBold.otf') format('opentype'); /* non-IE */
}

@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 600;
  src: local('Inter SemiBold Italic'),
    local('Inter-SemiBoldItalic'),
    url("fonts/Inter-SemiBoldItalic.woff2") format("woff2"), /* Super modern browsers */
    url('fonts/Inter-SemiBoldItalic.woff') format('woff'), /* Pretty modern browsers */
    url('fonts/Inter-SemiBoldItalic.otf') format('opentype'); /* non-IE */
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 700;
  src: local('Inter Bold'),
    local('Inter-Bold'),
    url("fonts/Inter-Bold.woff2") format("woff2"), /* Super modern browsers */
    url('fonts/Inter-Bold.woff') format('woff'), /* Pretty modern browsers */
    url('fonts/Inter-Bold.otf') format('opentype'); /* non-IE */
}

@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 700;
  src: local('Inter Bold Italic'),
    local('Inter-BoldItalic'),
    url("fonts/Inter-BoldItalic.woff2") format("woff2"), /* Super modern browsers */
    url('fonts/Inter-BoldItalic.woff') format('woff'), /* Pretty modern browsers */
    url('fonts/Inter-BoldItalic.otf') format('opentype'); /* non-IE */
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 800;
  src: local('Inter ExtraBold'),
    local('Inter-ExtraBold'),
    url("fonts/Inter-ExtraBold.woff2") format("woff2"), /* Super modern browsers */
    url('fonts/Inter-ExtraBold.woff') format('woff'), /* Pretty modern browsers */
    url('fonts/Inter-ExtraBold.otf') format('opentype'); /* non-IE */
}

@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 800;
  src: local('Inter ExtraBold Italic'),
    local('Inter-ExtraBoldItalic'),
    url("fonts/Inter-ExtraBoldItalic.woff2") format("woff2"), /* Super modern browsers */
    url('fonts/Inter-ExtraBoldItalic.woff') format('woff'), /* Pretty modern browsers */
    url('fonts/Inter-ExtraBoldItalic.otf') format('opentype'); /* non-IE */
}
