/* _|   _ \   __|    __|
  |    __/   _|   \__ \        _|  (_-<  (_-<
___|  _|    _|    ____/  _)  \__|  ___/  ___/

See: https://github.com/ipfs-shipyard/ipfs-css
*/

@import './inter-ui.css';
@import './montserrat.css';
@import './theme.css';

.transition-all,
.transition-all path {
  transition: .2s ease all;
}
